* {
    margin: 0;
    padding: 0;
}

h1, p{
    color: red;
}

/*POR CLASSE*/

.heading {
    color: purple;
}

/*Dessa forma, estou aplicando regra para todos os p e h1 dentro da classe main-content */
.main-content p, 
.main-content h1
{
    color: rgb(40, 27, 222);
}

/* Assim estou aplicando a regra para toda classe heading dentro da classe main-content */
.main-content .heading {
    color: rgb(244, 4, 108);
    font-style: italic;
}

/*Estou selecionando especificamente um p da classe new dentro do main content */
.main-content p.new {
    font-style: normal;
    color: brown;

}